<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Devdactic IAP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let p of products" (click)="purchase(p)" detail="false">
      <ion-label class="ion-text-wrap">
        {{ p.title }}
        <p>{{ p.description }}</p>
      </ion-label>
      <ion-button slot="end">
        {{ p.price }} {{ p.currency }}
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="restore()">Restore</ion-button>

  <ion-item>
    Gems: {{ gems }}
  </ion-item>
  <ion-item>
    Is Pro: {{ isPro }}
  </ion-item>

  <ion-item>
    (주) 상품 구독 상태 : {{ isMonthOneMore }}
  </ion-item>
  <ion-item>
    (월) 상품 구독 상태 : {{ isDayOneMore }}
  </ion-item>
  <ion-item>
    (3개월)구독 한번도 안한 상품 구독 상태 : {{ isDayNo }}
  </ion-item>
  <ion-item>
    (주-1주무료) 상품 구독 상태 : {{ freeAfterDay }}
  </ion-item>
  <ion-item>
    (주-1주무료,다른그룹) 상품 구독 상태 : {{ freeAfterDay2 }}
  </ion-item>
  <ion-item>
    (주-2개월(900원후에 2000원),다른그룹2) 상품 구독 상태 : {{ freeAfterDay3 }}
  </ion-item>
</ion-content>
